<div class="element-left">
	<div class="element-bg-img">
		<img [src]="selectedHotel.imgPrimary">
	</div>
	<div class="element-left-bottom">
		<div class="ele-strip">
			<ul>
				<li *ngFor="let star of stars; last as isLast; index as i" [ngClass]="{'anc-bor':isLast, 'active':i==selectedStarsTab}">
					<a href="#" (click)="filterHotels($event, i)">{{star}}</a>
				</li>
			</ul>
		</div>
		<div class="village">
			<h3>Righteous indignation &amp; like</h3>
			<span class="line"> </span>
			<div class="activity_box">
				<div class="scrollbar" id="style-2">
					<div class="activity-row" *ngFor="let hotel of hotels | filterByStars:starsQty ; index as i">
						<div class="activity-desc">
							<a href="#" (click)="selectHotel($event ,i)">
								<h5>{{hotel.name}}</h5>
								<p>{{hotel.address.city}}, {{hotel.address.street}}</p>
								<h6>Tel: {{hotel.tel}}</h6>
							</a>
						</div>
						<div class="activity-img">
							<ul>
								<li *ngFor="let pic of hotel.gallery">
									<img src="{{pic}}">
								</li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
